Repository RelativeSure/websites: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-fumadocs, biome-check-starlight, biome-check-tools, typescript-check-fumadocs, astro-check, typescript-check-tools

.pre-commit-config.yaml:

repos:
    # Standard pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-json
          - id: check-yaml
          - id: check-added-large-files
            args: ["--maxkb=1000"]
          - id: check-merge-conflict
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: trailing-whitespace
            args: ["--markdown-linebreak-ext=md,mdx"]

    # Secret scanning
    - repo: https://github.com/gitleaks/gitleaks
      rev: v8.21.2
      hooks:
          - id: gitleaks

    # Spell checking
    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            exclude: ^(.*node_modules/.*|.*\.next/.*|.*dist/.*|.*\.astro/.*|.*pnpm-lock\.yaml$|.*package-lock\.json$|.*yarn\.lock$)$

    # Biome - fumadocs
    - repo: local
      hooks:
          - id: biome-check-fumadocs
            name: Biome lint & format (fumadocs)
            entry: bash -c 'cd fumadocs && npx @biomejs/biome check --write --unsafe . || exit 0'
            language: system
            files: ^fumadocs/.*\.(js|jsx|ts|tsx|json|jsonc)$
            pass_filenames: false

    # Biome - starlight
    - repo: local
      hooks:
          - id: biome-check-starlight
            name: Biome lint & format (starlight)
            entry: bash -c 'cd starlight && npx @biomejs/biome check --write --unsafe . || exit 0'
            language: system
            files: ^starlight/.*\.(js|jsx|ts|tsx|json|jsonc|astro)$
            pass_filenames: false

    # Biome - tools
    - repo: local
      hooks:
          - id: biome-check-tools
            name: Biome lint & format (tools)
            entry: bash -c 'cd tools && npx @biomejs/biome check --write --unsafe . || exit 0'
            language: system
            files: ^tools/.*\.(js|jsx|ts|tsx|json|jsonc)$
            pass_filenames: false

    # TypeScript type checking - fumadocs (warn-only)
    - repo: local
      hooks:
          - id: typescript-check-fumadocs
            name: TypeScript type check (fumadocs)
            entry: bash -c 'cd fumadocs && npx tsc --noEmit || true'
            language: system
            files: ^fumadocs/.*\.(ts|tsx)$
            pass_filenames: false
            verbose: true

    # Astro type checking - starlight (warn-only)
    - repo: local
      hooks:
          - id: astro-check
            name: Astro check (starlight)
            entry: bash -c 'cd starlight && npx astro check || true'
            language: system
            files: ^starlight/.*\.(astro|ts|tsx|js|jsx)$
            pass_filenames: false
            verbose: true

    # TypeScript type checking - tools (warn-only)
    - repo: local
      hooks:
          - id: typescript-check-tools
            name: TypeScript type check (tools)
            entry: bash -c 'cd tools && npx tsc --noEmit || true'
            language: system
            files: ^tools/.*\.(ts|tsx)$
            pass_filenames: false
            verbose: true

    # Commit message linting (commit-msg stage)
    # - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    #   rev: v9.23.0
    #   hooks:
    #       - id: commitlint
    #         stages: [commit-msg]
    #         additional_dependencies: ["@commitlint/config-conventional@19.0.0"]

fix(ci): grant write permissions to claude workflow
  .github/workflows/claude.yml
Due: none

fix: resolve CI typecheck and build failures
  fumadocs/content/docs/projects/index.mdx
  fumadocs/package.json
  fumadocs/pnpm-lock.yaml
  fumadocs/src/app/global.css
  fumadocs/src/app/layout.tsx
  fumadocs/tsconfig.json
  tools/src/pages/tools/converters/CssUnitPage.tsx
  tools/src/pages/tools/converters/TimezoneConverterPage.tsx
  tools/src/pages/tools/dev-tools/ChmodPage.tsx
  tools/src/pages/tools/text-tools/DiffPage.tsx
Due: biome-check-fumadocs, biome-check-tools, typescript-check-fumadocs, typescript-check-tools

fix(ci): resolve pre-commit quality check failures
  fumadocs/biome.json
  fumadocs/content/docs/projects/try.mdx
  starlight/src/components/MyLinkGrid.astro
  starlight/src/components/starlight/ThemeSelect.astro
  tools/biome.json
  tools/src/components/ui/card.tsx
  tools/src/components/ui/dropdown-menu.tsx
  tools/src/components/ui/select.tsx
  tools/src/components/ui/sheet.tsx
  tools/src/components/ui/sidebar.tsx
  tools/src/components/ui/tabs.tsx
  tools/src/components/ui/tooltip.tsx
  tools/src/pages/tools/crypto/JwtVerifierPage.tsx
  tools/src/pages/tools/generators/DataUriPage.tsx
Due: biome-check-fumadocs, biome-check-starlight, biome-check-tools, astro-check, typescript-check-tools

fix(starlight): restore t() function name renamed by biome
  starlight/src/components/starlight/ThemeSelect.astro
Due: biome-check-starlight, astro-check

fix(ci): resolve remaining biome errors and fumadocs module resolution
  fumadocs/biome.json
  fumadocs/tsconfig.json
  starlight/src/components/MyLinkGrid.astro
  tools/biome.json
Due: biome-check-fumadocs, biome-check-starlight, biome-check-tools, astro-check

Fix astro config
  starlight/astro.config.mjs
Due: none

Update index.mdx
  fumadocs/content/docs/projects/index.mdx
Due: none

Update index.mdx (#752)
  fumadocs/content/docs/projects/index.mdx
Due: none

Fix astro config
  fumadocs/package.json
  fumadocs/pnpm-lock.yaml
  fumadocs/pnpm-workspace.yaml
Due: biome-check-fumadocs

Fix CI
  .github/workflows/ci.yml
Due: none

Fix pnpm
  fumadocs/pnpm-workspace.yaml
Due: none

Add megalinter
  .github/workflows/mega-linter.yml
  .gitignore
  .mega-linter.yml
Due: none

Fixes
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Due: none

CI Fixes
  .mega-linter.yml
  CONTRIBUTING.md
  README.md
  fumadocs/REMOTE_MCP_DEPLOYMENT.md
  scripts/import_bookmarks.py
Due: none

CI Fixes
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/mirror-to-codeberg.yml
  .pre-commit-config.yaml
  .yamllint.yml
Due: none

CI Fixes
  .mega-linter.yml
Due: none

CI Fixes
  .github/workflows/mega-linter.yml
Due: none

Add megalinter (#753)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/mega-linter.yml
  .github/workflows/mirror-to-codeberg.yml
  .gitignore
  .mega-linter.yml
  .pre-commit-config.yaml
  .yamllint.yml
  CONTRIBUTING.md
  README.md
  fumadocs/REMOTE_MCP_DEPLOYMENT.md
  scripts/import_bookmarks.py
Due: none

Update mega-linter.yml
  .github/workflows/mega-linter.yml
Due: none

Update index.mdx
  starlight/src/content/docs/index.mdx
Due: none

update pnpm
  fumadocs/pnpm-lock.yaml
  fumadocs/pnpm-workspace.yaml
Due: none

Fix fumadocs pnpm install and tsconfig build failures
  fumadocs/pnpm-workspace.yaml
  fumadocs/tsconfig.json
Due: biome-check-fumadocs

Fix fumadocs pnpm install and tsconfig build failures (#982)
  fumadocs/pnpm-workspace.yaml
  fumadocs/tsconfig.json
Due: biome-check-fumadocs

Add REPOSITORY_BETTERLEAKS to linter configuration
  .mega-linter.yml
Due: none

Update mega-linter configuration for GitHub actions
  .github/workflows/mega-linter.yml
Due: none

Fix: grant workflows permission to MegaLinter job
  .github/workflows/mega-linter.yml
Due: none

Revert invalid workflows permission; exclude workflows dir instead
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Due: none

Add workflows permission to mega-linter GitHub Action (#992)
  .mega-linter.yml
Due: none

Clean up fumadocs content and fix broken MDX
  fumadocs/content/docs/bookmarks/index.mdx
  fumadocs/content/docs/bookmarks/kubernetes.mdx
  fumadocs/content/docs/goodstuff/index.mdx
  fumadocs/content/docs/index.mdx
  fumadocs/content/docs/kubernetes/index.mdx
  fumadocs/content/docs/linux/ansible.mdx
  fumadocs/content/docs/linux/lvm.mdx
  fumadocs/content/docs/linux/puppet.mdx
  fumadocs/content/docs/website/index.mdx
  fumadocs/content/docs/windows/git.mdx
  fumadocs/content/docs/windows/wsl.mdx
Due: none

Update fumadocs pnpm-lock.yaml to match package.json
  fumadocs/pnpm-lock.yaml
Due: none

Fix broken Card navigation links (relative hrefs don't resolve as expected)
  fumadocs/content/docs/bookmarks/index.mdx
  fumadocs/content/docs/goodstuff/index.mdx
  fumadocs/content/docs/kubernetes/index.mdx
  fumadocs/content/docs/linux/index.mdx
  fumadocs/content/docs/projects/index.mdx
  fumadocs/content/docs/windows/index.mdx
Due: none

Refactor bookmarks and documentation components (#997)
  fumadocs/content/docs/bookmarks/index.mdx
  fumadocs/content/docs/bookmarks/kubernetes.mdx
  fumadocs/content/docs/index.mdx
  fumadocs/content/docs/kubernetes/index.mdx
  fumadocs/content/docs/linux/ansible.mdx
  fumadocs/content/docs/linux/index.mdx
  fumadocs/content/docs/linux/lvm.mdx
  fumadocs/content/docs/linux/puppet.mdx
  fumadocs/content/docs/projects/index.mdx
  fumadocs/content/docs/website/index.mdx
  fumadocs/content/docs/windows/git.mdx
  fumadocs/content/docs/windows/index.mdx
  fumadocs/content/docs/windows/wsl.mdx
  fumadocs/pnpm-lock.yaml
Due: none

Remove unused fumadocs source assets
  fumadocs/src/assets/gitconfig
  fumadocs/src/assets/vscode-settings.jsonc
Due: biome-check-fumadocs

Remove unused fumadocs source assets (#998)
  fumadocs/src/assets/gitconfig
  fumadocs/src/assets/vscode-settings.jsonc
Due: biome-check-fumadocs

[MegaLinter] Apply linters automatic fixes
  .mega-linter.yml
  .pre-commit-config.yaml
  .yamllint.yml
  CONTRIBUTING.md
  commitlint.config.js
  fumadocs/README.md
  fumadocs/REMOTE_MCP_DEPLOYMENT.md
  fumadocs/pnpm-lock.yaml
  fumadocs/pnpm-workspace.yaml
  scripts/import_bookmarks.py
  scripts/install-pre-commit.sh
  scripts/test-pre-commit.sh
  starlight/biome.json
  starlight/lighthouserc.yml
  starlight/pnpm-lock.yaml
  tools/pnpm-lock.yaml
Due: biome-check-starlight

fix(tools): use namespace import for js-yaml
  tools/src/pages/tools/converters/UnifiedConverterPage.tsx
  tools/src/pages/tools/validators/YamlValidatorPage.tsx
Due: biome-check-tools, typescript-check-tools

fix: unblock pnpm v11 supply-chain policies for tools and starlight
  starlight/package.json
  starlight/pnpm-workspace.yaml
  tools/package.json
  tools/pnpm-workspace.yaml
Due: biome-check-starlight, biome-check-tools

fix: move minimumReleaseAge into pnpm-workspace.yaml
  starlight/package.json
  starlight/pnpm-workspace.yaml
  tools/package.json
  tools/pnpm-workspace.yaml
Due: biome-check-starlight, biome-check-tools
