Repository RelativeSure/websites: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-fumadocs, biome-check-starlight, biome-check-tools, typescript-check-fumadocs, astro-check, typescript-check-tools

biome-check-fumadocs:
  name: biome-check (fumadocs)
  entry: bash -c 'cd fumadocs && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
  language: system
  pass_filenames: true

biome-check-starlight:
  name: biome-check (starlight)
  entry: bash -c 'cd starlight && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
  language: system
  pass_filenames: true

biome-check-tools:
  name: biome-check (tools)
  entry: bash -c 'cd tools && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
  language: system
  pass_filenames: true

typescript-check-fumadocs:
  name: TypeScript type check (fumadocs)
  entry: bash -c 'cd fumadocs && npx tsc --noEmit'
  language: system
  pass_filenames: false

astro-check:
  name: Astro check (starlight)
  entry: bash -c 'cd starlight && npx astro check'
  language: system
  pass_filenames: false

typescript-check-tools:
  name: TypeScript type check (tools)
  entry: bash -c 'cd tools && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(ci): run pre-commit from root directory
  .github/workflows/ci.yml
Due: none

fix(ci): run pre-commit once for entire monorepo instead of per-project
  .github/workflows/ci.yml
Due: none

fix: auto-fix whitespace and newline issues from pre-commit
  fumadocs/.gitignore
  fumadocs/biome.json
  fumadocs/content/docs/contact.mdx
  fumadocs/content/docs/goodstuff/index.mdx
  fumadocs/content/docs/goodstuff/repofiles.spec
  fumadocs/content/docs/goodstuff/specfiles.mdx
  fumadocs/content/docs/linux/index.mdx
  fumadocs/content/docs/linux/ubuntu.mdx
  fumadocs/content/docs/projects/autocopr.mdx
  fumadocs/content/docs/projects/index.mdx
  fumadocs/content/docs/projects/personal-fumadocs-site.mdx
  fumadocs/content/docs/windows/index.mdx
  fumadocs/tsconfig.json
  starlight/.github/workflows/claude-code-review.yml
  starlight/.github/workflows/claude.yml
  starlight/CLAUDE.md
  starlight/src/components/MyLinkGrid.astro
  starlight/src/content/docs/goodstuff/repofiles.spec
  starlight/src/content/docs/goodstuff/specfiles.mdx
  starlight/src/content/docs/index.mdx
  starlight/src/content/docs/linux/fish.mdx
  starlight/src/content/docs/linux/ubuntu.mdx
  starlight/src/layouts/BaseHead.astro
  tools/wrangler.toml
Due: biome-check-fumadocs, astro-check

fix(ci): remove pre-commit from CI workflow
  .github/workflows/ci.yml
Due: none

fix(typescript): resolve type errors in fumadocs and tools
  fumadocs/src/app/docs/[[...slug]]/page.tsx
  fumadocs/src/app/docs/layout.tsx
  fumadocs/src/app/og/docs/[...slug]/route.tsx
  tools/src/index.ts
  tools/src/pages/tools/converters/MarkdownToHtmlPage.tsx
  tools/src/pages/tools/crypto/AesEncryptPage.tsx
  tools/src/pages/tools/crypto/TotpPage.tsx
Due: biome-check-fumadocs, biome-check-tools, typescript-check-fumadocs, typescript-check-tools

chore(ci): remove unnecessary security audit job
  .github/workflows/ci.yml
Due: none

refactor(ci): remove CI workflow, move type checking to pre-commit
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
Due: none

Update fish.mdx
  fumadocs/content/docs/linux/fish.mdx
Due: none

Add unified data converter with dropdown menus
  tools/src/pages/tools/converters/UnifiedConverterPage.tsx
  tools/src/routeTree.gen.ts
  tools/src/routes/_tools/converters/converter.tsx
Due: biome-check-tools, typescript-check-tools

Enhance unified converter with comprehensive format support and remove redundant converters
  tools/src/pages/tools/converters/BaseConversionPage.tsx
  tools/src/pages/tools/converters/CsvJsonPage.tsx
  tools/src/pages/tools/converters/CsvToJsonPage.tsx
  tools/src/pages/tools/converters/JsonToCsvPage.tsx
  tools/src/pages/tools/converters/JsonYamlPage.tsx
  tools/src/pages/tools/converters/MarkdownToHtmlPage.tsx
  tools/src/pages/tools/converters/UnifiedConverterPage.tsx
  tools/src/pages/tools/converters/XmlJsonPage.tsx
  tools/src/pages/tools/converters/XmlToYamlPage.tsx
  tools/src/routeTree.gen.ts
  tools/src/routes/_tools/converters/base-conversion.tsx
  tools/src/routes/_tools/converters/csv-json.tsx
  tools/src/routes/_tools/converters/csv-to-json.tsx
  tools/src/routes/_tools/converters/json-to-csv.tsx
  tools/src/routes/_tools/converters/json-yaml.tsx
  tools/src/routes/_tools/converters/markdown-to-html.tsx
  tools/src/routes/_tools/converters/xml-json.tsx
  tools/src/routes/_tools/converters/xml-to-yaml.tsx
Due: biome-check-tools, typescript-check-tools

Update homepage to feature unified converter and remove deleted converters
  tools/src/pages/HomePage.tsx
Due: biome-check-tools, typescript-check-tools

Add dynamic conversion filtering and expand format support
  tools/src/pages/tools/converters/UnifiedConverterPage.tsx
Due: biome-check-tools, typescript-check-tools

Improve UI by removing redundant section and adding smart category headers
  tools/src/pages/tools/converters/UnifiedConverterPage.tsx
Due: biome-check-tools, typescript-check-tools

Consolidate converters with dropdown menus (#82)
  tools/src/pages/HomePage.tsx
  tools/src/pages/tools/converters/BaseConversionPage.tsx
  tools/src/pages/tools/converters/CsvJsonPage.tsx
  tools/src/pages/tools/converters/CsvToJsonPage.tsx
  tools/src/pages/tools/converters/JsonToCsvPage.tsx
  tools/src/pages/tools/converters/JsonYamlPage.tsx
  tools/src/pages/tools/converters/MarkdownToHtmlPage.tsx
  tools/src/pages/tools/converters/UnifiedConverterPage.tsx
  tools/src/pages/tools/converters/XmlJsonPage.tsx
  tools/src/pages/tools/converters/XmlToYamlPage.tsx
  tools/src/routeTree.gen.ts
  tools/src/routes/_tools/converters/base-conversion.tsx
  tools/src/routes/_tools/converters/converter.tsx
  tools/src/routes/_tools/converters/csv-json.tsx
  tools/src/routes/_tools/converters/csv-to-json.tsx
  tools/src/routes/_tools/converters/json-to-csv.tsx
  tools/src/routes/_tools/converters/json-yaml.tsx
  tools/src/routes/_tools/converters/markdown-to-html.tsx
  tools/src/routes/_tools/converters/xml-json.tsx
  tools/src/routes/_tools/converters/xml-to-yaml.tsx
Due: biome-check-tools, typescript-check-tools

refactor(fumadocs): Reorganize bookmarks into specialized categories
  fumadocs/content/docs/bookmarks/ai.mdx
  fumadocs/content/docs/bookmarks/backend.mdx
  fumadocs/content/docs/bookmarks/design.mdx
  fumadocs/content/docs/bookmarks/developer.mdx
  fumadocs/content/docs/bookmarks/devops.mdx
  fumadocs/content/docs/bookmarks/frontend.mdx
  fumadocs/content/docs/bookmarks/git.mdx
  fumadocs/content/docs/bookmarks/index.mdx
  fumadocs/content/docs/bookmarks/kubernetes.mdx
  fumadocs/content/docs/bookmarks/linux.mdx
  fumadocs/content/docs/bookmarks/miscellaneous.mdx
  fumadocs/content/docs/bookmarks/tech.mdx
Due: none

refactor(fumadocs): Improve bookmark organization and descriptions
  fumadocs/content/docs/bookmarks/backend.mdx
  fumadocs/content/docs/bookmarks/developer.mdx
  fumadocs/content/docs/bookmarks/devops.mdx
  fumadocs/content/docs/bookmarks/frontend.mdx
  fumadocs/content/docs/bookmarks/git.mdx
  fumadocs/content/docs/bookmarks/linux.mdx
  fumadocs/content/docs/bookmarks/tech.mdx
Due: none

refactor(fumadocs): Reorganize and alphabetize bookmark categories
  fumadocs/content/docs/bookmarks/backend.mdx
  fumadocs/content/docs/bookmarks/design.mdx
  fumadocs/content/docs/bookmarks/developer.mdx
  fumadocs/content/docs/bookmarks/devops.mdx
  fumadocs/content/docs/bookmarks/frontend.mdx
Due: none

refactor(fumadocs): Reorganize bookmarks into specialized categories (#90)
  fumadocs/content/docs/bookmarks/ai.mdx
  fumadocs/content/docs/bookmarks/backend.mdx
  fumadocs/content/docs/bookmarks/design.mdx
  fumadocs/content/docs/bookmarks/developer.mdx
  fumadocs/content/docs/bookmarks/devops.mdx
  fumadocs/content/docs/bookmarks/frontend.mdx
  fumadocs/content/docs/bookmarks/git.mdx
  fumadocs/content/docs/bookmarks/index.mdx
  fumadocs/content/docs/bookmarks/kubernetes.mdx
  fumadocs/content/docs/bookmarks/linux.mdx
  fumadocs/content/docs/bookmarks/miscellaneous.mdx
  fumadocs/content/docs/bookmarks/tech.mdx
Due: none

docs: add Git for Windows update guide
  fumadocs/content/docs/windows/git-updates.mdx
  fumadocs/content/docs/windows/index.mdx
Due: none

Add Git for Windows update documentation
  fumadocs/content/docs/windows/git.mdx
  fumadocs/content/docs/windows/index.mdx
Due: none

Add Git for Windows update documentation (#100)
  fumadocs/content/docs/windows/git.mdx
  fumadocs/content/docs/windows/index.mdx
Due: none

chore(fumadocs): Update fumadocs-mdx to v14.0.1
  fumadocs/.gitignore
  fumadocs/biome.json
  fumadocs/next.config.mjs
  fumadocs/package.json
  fumadocs/pnpm-lock.yaml
  fumadocs/src/lib/source.ts
  fumadocs/tsconfig.json
Due: biome-check-fumadocs, typescript-check-fumadocs

Fix TypeScript errors after Astro package updates (#104)
  starlight/src/components/MyLinkGrid.astro
  starlight/src/components/starlight/ThemeSelect.astro
Due: astro-check

Add script
  .pre-commit-config.yaml
  scripts/import_bookmarks.py
Due: none

feat: add MCP server configuration for fumadocs documentation
  fumadocs/MCP_SETUP.md
  mcp.json
Due: none

refactor: consolidate MCP documentation into README
  fumadocs/MCP_SETUP.md
  fumadocs/README.md
Due: none

feat: add remote MCP server deployment documentation
  fumadocs/README.md
  fumadocs/REMOTE_MCP_DEPLOYMENT.md
  mcp.json
Due: none

Create try.mdx
  fumadocs/content/docs/projects/try.mdx
Due: none

Update try.mdx
  fumadocs/content/docs/projects/try.mdx
Due: none

Update index.mdx
  fumadocs/content/docs/projects/index.mdx
Due: none

Add GitHub Actions workflow to mirror repository to Codeberg (#152)
  .github/workflows/mirror-to-codeberg.yml
Due: none

Force push all branches and tags to Codeberg
  .github/workflows/mirror-to-codeberg.yml
Due: none

ci: add CI pipeline workflow and fix fumadocs biome configuration
  .github/workflows/ci.yml
  fumadocs/biome.json
  fumadocs/package.json
  fumadocs/pnpm-lock.yaml
Due: biome-check-fumadocs

chore(fumadocs): add .source to .gitignore
  fumadocs/.gitignore
Due: none

feat: add MCP server config and Git for Windows update guide
  fumadocs/README.md
  fumadocs/REMOTE_MCP_DEPLOYMENT.md
  fumadocs/content/docs/windows/git-updates.mdx
  fumadocs/content/docs/windows/index.mdx
  mcp.json
Due: none

Path conditions:
  biome-check-fumadocs: any of: ^fumadocs/.*\.(jsx?|tsx?|json|jsonc|css)$
  biome-check-starlight: any of: ^starlight/.*\.(jsx?|tsx?|json|jsonc)$
  biome-check-tools: any of: ^tools/.*\.(jsx?|tsx?|json|jsonc|css)$
  typescript-check-fumadocs: any of: ^fumadocs/.*\.(ts|tsx)$
  astro-check: any of: ^starlight/.*\.(astro|ts|tsx|js|jsx)$
  typescript-check-tools: any of: ^tools/.*\.(ts|tsx)$
